@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #000000;
}

#mainscreen {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 576px;
  border: solid #7faeac;
}

#game-title {
  font-family: "Press Start 2P", cursive;
  font-size: 100px;
  color: #f5e8cc;
  text-shadow: 2px 2px 0px #9058b6, 4px 4px 0px #7faeac;
  width: 576px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
  max-width: 100%;

  animation: bounce 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  to {
    transform: translateY(-15px);
  }
}


#stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  z-index: 1;
}
#start-button {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: #b0a9cf;
  cursor: pointer;
  text-shadow: 2px 2px 0px #9058b6, 4px 4px 0px #7faeac;
  width: 576px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background: none;
  border: none;
}

#music {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: #f5e8cc;
  cursor: pointer;
  text-shadow: 2px 2px 0px #9058b6, 4px 4px 0px #7faeac;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  margin-top: 20px;
  left: 62%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background: none;
  border: none;
}
